$bgcolor :  rgb(17, 90, 35);
$textColor :  rgba(188, 199, 191, 0.61);
$btnText :  rgba(226, 228, 226, 0.61);
$disBtn :  rgba(173, 173, 173, 0.61);
//services color part ------------------------->
$servColor1 : rgb(235, 194, 11);
$servColor2 :rgb(51, 170, 250);
$servColor3 :rgb(190, 11, 235);
$servColor4 :rgb(235, 11, 67);
